/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(#26aad9, #176f8f);
}

html {
  font-size: 62.5%;
}

a,
li {
  color: white;
  text-decoration: none;
  list-style: none;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}

h2 {
  color: white;
  font-size: 2.4rem;
  letter-spacing: 0.3rem;
  font-weight: 500;
}

h3 {
  color: white;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  font-weight: 600;
}

p {
  color: white;
  font-size: 1.4rem;
}

/* NAV SECTION */

#logo {
  margin: 8px 0;
  width: 12rem;
  cursor: pointer;
}

header {
  height: auto;
  background: linear-gradient(#1e2a2e, #000000);
  padding: 0px 5%;
  position: sticky;
  top: 0px;
  z-index: 3;
}

.nav-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin: 0 10px;
  line-height: 70px;
  display: flex;
}

.menu li {
  margin: 0 50px;
  line-height: 50px;
  display: inline-block;
}

.menu ul {
  margin-right: 500px;
}

label {
  font-size: 26px;
  color: white;
  width: 26px;
  display: none;
}

#toggle {
  display: none;
}

.nav-icon {
  width: 2.5rem;
  margin: auto;
}

.search form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.2rem;
}

.search input[type="text"] {
  padding: 1rem 1rem;
  height: 40px;
}

.search button {
  text-decoration: none;
  color: white;
  background: linear-gradient(#0e46ce, #011337);
  padding: 0.7rem 1rem;
  border: none;
  height: 40px;
}

.target {
  font-weight: 700;
}

/* FOOTER */

footer {
  min-height: 35vh;
  background: linear-gradient(#1e2a2e, #000000);
}

.container-footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
  height: auto;
}

.footer-text,
.footer-social {
  width: 22rem;
}

.footer-text h3 {
  margin: 2rem 0rem;
}

.contact {
  display: flex;
}

.contact i {
  margin-right: 0.7rem;
}

.footer-social h3 {
  margin: 2rem 0rem;
}

.footer-social i {
  margin-right: 0.6rem;
  color: white;
}

.footer-social i:hover {
  color: #0e46ce;
  cursor: pointer;
}

.copyright {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.message {
  padding: 1rem;
  border: 1px solid grey;
  color: grey;
}

.error {
  color: red;
  border: solid 2px red;
  padding: 1rem;
  background: rgba(255, 0, 0, 0.1);
  height: 20%;
}

.loader {
  border: 16px solid #c0c0c0;
  border-top: 16px solid rgb(8, 228, 8);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

/* MEDIA QUERIES */

/* NAV */

@media screen and (max-width: 1700px) {
  label {
    display: block;
    cursor: pointer;
    margin: auto;
  }

  #logo {
    width: 100px;
    margin: auto;
    margin-right: 0.5rem;
  }

  .menu {
    text-align: center;
    display: none;
  }

  .menu li {
    margin: auto;
    display: block;
  }

  .menu ul {
    margin: auto;
  }

  #toggle:checked + .menu {
    display: block;
  }
  .nav-container {
    flex-direction: column;
  }

  .nav-icon {
    margin: 0.5rem 0rem;
    margin-right: 0.5rem;
  }
  .search input[type="text"] {
    height: 25px;
    margin-bottom: 0.5rem;
  }
  .search button {
    height: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 0.6rem;
  }
  .nav-icon {
    width: 2rem;
  }
}
