h2 {
  color: white;
  letter-spacing: 0.2rem;
  font-weight: 500;
}

/* HEADER IN MAIN PAGE */

.div-header {
  margin-top: 10rem;
  background: linear-gradient(#1e2a2e, #000000);
  text-align: center;
  height: 15rem;
}

#logo-header {
  margin-bottom: -22rem;
  width: 25rem;
}

/* SIGN UP MAIN PAGE STYLES */

section {
  min-height: 80vh;
}

.form-container {
  padding: 20px;
  width: 300px;
  margin: 8rem auto 0;
  text-align: center;
}

.form-container h2 {
  margin-bottom: 3rem;
  font-size: 3rem;
}

.form-container a {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

.form-container p {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

.input-box {
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem 0rem;
  width: 100%;
  border: 0.1rem solid #999;
  outline: none;
}

.check {
  margin: 0.5rem 0.2rem;
}

.login-btn {
  width: 100%;
  background: linear-gradient(#0e46ce, #011337);
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 2rem;
  color: white;
  margin: 4rem 0 0 0;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.8s;
}

button:hover {
  background: white;
  color: #0e46ce;
}

hr {
  margin: 2rem 0rem;
  color: white;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1700px) {
  label {
    display: block;
    cursor: pointer;
    margin: auto;
  }

  #logo {
    width: 100px;
    margin: auto;
  }

  .menu {
    text-align: center;
    display: none;
  }
  .menu li {
    margin: auto;
    display: block;
  }

  .menu ul {
    margin: auto;
  }
  #toggle:checked + .menu {
    display: block;
  }
  .nav-container {
    flex-direction: column;
  }
  .nav-icon {
    margin: 0.5rem 0rem;
  }
  .search input[type="text"] {
    height: 25px;
    margin-bottom: 0.5rem;
  }
  .search button {
    height: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 0.6rem;
  }
  .nav-icon {
    width: 2rem;
  }
}
