h2 {
  color: white;
  letter-spacing: 0.2rem;
  font-weight: 500;
}

/* HEADER IN MAIN PAGE */

.div-header {
  margin-top: 10rem;
  background: linear-gradient(#1e2a2e, #000000);
  text-align: center;
  height: 15rem;
}

#logo-header {
  margin-bottom: -22rem;
  width: 25rem;
}

/* SIGN UP MAIN PAGE STYLES */

section {
  min-height: 80vh;
}

.form-container {
  padding: 20px;
  width: 300px;
  margin: 8rem auto 0;
  text-align: center;
}

.form-container h2 {
  margin-bottom: 3rem;
  font-size: 3rem;
}

.form-container a {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

.form-container p {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

.input-box {
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem 0rem;
  width: 100%;
  border: 0.1rem solid #999;
  outline: none;
}

.check {
  margin: 0.5rem 0.2rem;
}

.sign-btn {
  width: 100%;
  background: linear-gradient(#ba1f94, #880f6a);
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 2rem;
  color: white;
  margin: 4rem 0 0 0;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.8s;
}

button:hover {
  background: white;
  color: #ba1f94;
}

hr {
  margin: 2rem 0rem;
  color: white;
}
