/* Main PAGE */

.hero {
  min-height: 90vh;
  background: url("/images/pexels-soumil-kumar-735911.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-size: 2.3rem;
  text-align: center;
  margin: 1rem;
  text-shadow: 2px 2px #000000;
}

.homelogo {
  width: 45rem;
  margin-bottom: 6rem;
}

.container {
  text-align: center;
  margin-top: 6rem;
}

.hero button {
  padding: 2rem 4rem;
  width: 28rem;
  height: 7rem;
  border: none;
  margin: 3rem;
  border-radius: 6rem;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.button1 {
  background: linear-gradient(#0e46ce, #011337);
}

.button2 {
  background: linear-gradient(#ba1f94, #880f6a);
}

.button1:hover {
  background: white;
  color: #0e46ce;
}

.button2:hover {
  background: white;
  color: #ba1f94;
}

/* HIGHLIGHTED GAMES SECTION */

.loader {
  border: 16px solid #c0c0c0;
  border-top: 16px solid #00f93a;
  border-radius: 50%;
  margin: auto;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.highlighted {
  padding: 10rem 0 3rem 1rem;
  display: flex;
  align-items: center;
}

.highlightedimg {
  width: 100%;
  height: 60vh;
  /* background-image: url(/images/Games/Cyberpunk.jpg); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.highlighted-games-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.highlighted-game-text h2 a {
  font-size: 2rem;
  transition: ease-in-out 0.3s;
}

.highlighted-game-text h2 a:hover {
  color: yellow;
  font-weight: 600;
}

.line {
  font-size: 6rem;
  color: #041c58;
  font-weight: bold;
}

.highlighted-img {
  width: 100%;
  height: 45rem;
  object-fit: cover;
}

.highlighted-overlay {
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
}

.price-container {
  display: flex;
  margin: 0 4rem 0 30rem;
}

.prices-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.discount {
  background: linear-gradient(#0e46ce, #011337);
  padding: 1rem 2rem;
  margin: 0 2rem 0 20rem;
  border-radius: 1rem;
}

.discount p {
  font-size: 2.5rem;
}

.prev-price {
  text-decoration: line-through;
}

.current-price {
  color: #00f93a;
  font-size: 2rem;
  font-weight: bold;
}

.pre-purchase {
  padding: 2rem 4rem;
  background: linear-gradient(#0e46ce, #011337);
  border: none;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.3rem;
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.8s;
}

.pre-purchase:hover {
  background: #0048ff;
}

.container-gamenav {
  margin-top: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
}

.circle {
  background: white;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  margin: 0 1.5rem;
}

.circle1 {
  background: #00f93a;
}

/* FEATURED & RECCOMENDED GAMES */

.featured {
  padding: 3rem 0 5rem 1rem;
  display: flex;
  align-items: center;
}

.games-container {
  min-height: 75rem;
  min-width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}

.container-games {
  width: 42rem;
  height: auto;
}

.game {
  height: 25rem;
  display: flex;
}

.game img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-info {
  background: linear-gradient(#1e2a2e, #000000);
  height: 5rem;
  display: flex;
  padding-left: 2rem;
  align-items: center;
}

.box-info p {
  background: linear-gradient(#0e46ce, #011337);
  padding: 0.5rem 1rem;
  margin-right: 2rem;
}

.spanbox {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.prev-featured {
  text-decoration: line-through;
  color: white;
  font-size: 1.2rem;
}

.current-featured {
  color: #00f93a;
  font-weight: bold;
  font-size: 1.8rem;
}

.buttonbox {
  height: 4rem;
}

.boxgame1 {
  background: linear-gradient(#0e46ce, #011337);
  width: 100%;
  height: 100%;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
}

.boxgame1:hover {
  background: #0048ff;
}

#shopping {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

/* COMING SOON */

.coming {
  padding: 3rem 0 5rem 1rem;
  display: flex;
  align-items: center;
}

.container-coming-games {
  min-height: 75rem;
  min-width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}

/* Bestseller & wishlisted section */

.bestseller-wishlisted {
  min-height: 80vh;
}

.container-best-wish {
  height: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 8rem;
  margin: auto;
}

.container-best {
  width: 82rem;
  margin: auto;
}

.container-wish {
  width: 82rem;
}

.best-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0rem;
}

.line2 {
  font-size: 6rem;
  color: #460034;
  font-weight: bold;
}

.container-long {
  width: 100%;
  height: 6.5rem;
  background: white;
  display: flex;
  margin-bottom: 0.8rem;
}

.small-box-best {
  background: linear-gradient(#0e46ce, #011337);
  width: 5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-box p {
  font-size: 2rem;
}

.small-game-box {
  width: 15rem;
  height: 100%;
}

.small-game-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-game-info {
  background: linear-gradient(#1e2a2e, #000000);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.game-name {
  flex: 1;
  margin-left: 2rem;
}

.game-price {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

/* MEDIA QUERIES */

/* HIGLIGHTED GAMES */

@media screen and (max-width: 1140px) {
  .highlighted-game-text h2 a {
    font-size: 1.8rem;
  }
  .highlighted-game-text p {
    font-size: 1.2rem;
  }
  .pre-purchase {
    padding: 1.5rem 3rem;
  }
  .discount {
    margin: 0rem 2rem 0 0rem;
  }
}

@media screen and (max-width: 905px) {
  .price-container {
    margin: 0 2rem 0 5rem;
  }
  .discount {
    padding: 0.5rem 1.5rem;
  }
  .curent-price {
    font-size: 1rem;
  }
}

/* FEATURED & COMING GAMES */

@media screen and (max-width: 1700px) {
  .container-games {
    margin: 2rem 0rem;
  }
}
@media screen and (max-width: 1277px) {
  .featured {
    justify-content: center;
  }
  .coming {
    justify-content: center;
  }
}

/* BEST RATED WISHED GAMES */

@media screen and (max-width: 1850px) {
  .container-best-wish {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .bestseller-wishlisted {
    margin: auto;
  }

  html {
    font-size: 50%;
  }
}
